@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Open+Sans:wght@400;500;600;700;800&family=Sora:wght@400;500;600;700&display=swap");

/* ===================== VARIABLES (tạo biến) ===================== */

:root {
  /* tạo biến để sau này dùng lại ko cần copy paste */

  /* ========= TẠO BIẾN MÀU ======== */
  --text-color: #171717;
  --text-color2: #333;
  --blue-color: #021a84;
  --darkblue-color: #010d42;
  --white-color: #fff;
  --gray-color: #999999;
  --orange-color: #fe4c4c;
  --green-color: #2ada66;
  --white-color: #fff;
  --gap: 15px;
}

/* ===================== GLOBAL CLASS (class xài chung) ===================== */
body {
  color: var(--text-color);
}

.wrapper {
  position: relative;
  margin: 0 auto;
}

.container {
  max-width: calc(1160px + var(--gap) * 2);
  /* max-width: 1160px; */
  margin: 0 auto;
  padding: 0 var(--gap);
}

/* ========= TẠO CLASS CHUNG CHO BUTTON ======== */
.primary-btn {
  border-radius: 8px;
  background-color: var(--blue-color);
  color: var(--white-color);
}

.secondary-btn {
  padding: 8px 39px;
  border: 2px solid var(--blue-color);
  border-radius: 8px;
  color: var(--blue-color);
  background-color: transparent;
}

.btn {
  display: inline-block;
  outline: none;
  border: none;
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 32px 32px 52px;
  border-radius: 16px;
}

.darkgreen-color {
  color: #156d33;
}

.darkblue-color {
  color: #010d42;
}

.darkorange-color {
  color: #e5532a;
}

/* ========= TẠO CLASS CHUNG CHO TEXT ======== */
.text-34 {
  font-weight: 700;
  font-size: 34px;
  line-height: calc(48 / 34);
  color: var(--blue-color);
}

.text-26 {
  font-size: 26px;
  line-height: calc(40 / 26);
  font-weight: 700;
  color: var(--white-color);
}

.text-18 {
  font-size: 18px;
  line-height: calc(28 / 18);
  font-weight: 500;
}

.text-16 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}

.text-14 {
  font-size: 14px;
  font-weight: 400;
  line-height: calc(20 / 14);
}

.text-12 {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(16 / 12);
}

/* ===================== CUSTOM HOVER CHO BUTTON ===================== */

.btn:hover::before {
  left: auto;
  right: 0;
  width: 100%;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  right: auto;
  top: 0;
  height: 100%;
  width: 0;
  background-color: #fff;
  opacity: 0.1;
  z-index: -1;
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.secondary-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  width: 150%;
  height: 100%;
  background-color: var(--blue-color);
  transform: scaleX(0) skewX(35deg);
  transform-origin: left;
  z-index: -1;
  transition: transform 0.5s;
}

.secondary-btn:hover::before {
  transform: scaleX(1) skewX(35deg);
}

/* ===================== MAIN CODE CSS (CODE CSS CHÍNH) ===================== */

/* ===================== HEADER SECTIONS (PHẦN HEADER) ===================== */
.header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container .header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: khoảng cách */
  gap: 30px;
}

.header-container .menu {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--white-color);
  width: 250px;
  z-index: 99;
  flex-direction: column;
  padding-top: 50px;
  transform: translateX(100%);
  will-change: transform;
  transition: 0.2s linear;
  align-items: stretch;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
}

.header-container .menu.active {
  transform: translateX(0);
}

.header-container .toggle {
  display: none;
}

.header-container .header-right .header-text {
  color: var(--main-color);
  cursor: pointer;
}

.header-container .header-right .header-text:hover {
  color: var(--blue-color);
  text-decoration: underline;
}

.header-container .header-right .header-signin {
  padding: 8px 26px;
}

.header-container .header-right .header-signup {
  /* custom hiệu ứng màu mè cho button */
  position: relative;
  overflow: hidden;
  transition: color 0.5s;
}

.header-container .header-right .header-signup:hover {
  color: var(--white-color);
}

/* ===================== MAIN-CONTENT (PHẦN CONTENT ===================== */
/* BANNER SECTION */
.banner-section {
  margin-bottom: 40px;
  display: flex;
}

.banner-section img {
  flex-shrink: 0;
}

/* ACTION SECTION */
.action-section {
  margin-bottom: 90px;
}

.action-container {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  gap: 32px;
}

.action-search-box {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--gray-color);
  padding: 15px 18px;
  border-radius: 8px;
  width: 100%;
  max-width: 672px;
}

#search-bar {
  width: 100%;
  outline: none;
  border: none;
  background-color: none;
}

.action-finding {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 12px;
}

.action-finding-box {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 18px;
  border: 1px solid var(--gray-color);
  border-radius: 8px;
}

.action-fiding-top {
  display: flex;
  align-items: center;
  gap: 9px;
}

.action-btn {
  padding: 8px 20px;
}

#place {
  outline: none;
  border: none;
  background-color: none;
}

/* SUGGEST SECTION */
.suggestion-action {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 18px;
}

.suggest-list {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--blue-color);
}

.suggest-heading {
  color: var(--blue-color);
}

.suggest-item {
  padding: 4px 8px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s linear;
}

.suggest-item:hover {
  background-color: var(--blue-color);
  color: var(--white-color);
}

/* JOBS SECTION */
.jobs-section {
  margin-bottom: 80px;
}

.jobs-top {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.heart-icon {
  font-size: 18px;
  color: var(--orange-color);
  width: 53px;
  height: 53px;
  border-radius: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.jobs-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 32px;
}

.jobs-item {
  border-radius: 10px;
  padding: 16px;
  transition: 0.2s linear;
  background-color: var(--white-color);
}

.jobs-item:hover {
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
}

/* JOBS ITEM TOP */
.jobs-item-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.jobs-item-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.jobs-item-img {
  width: 32px;
  height: 32px;
}

.jobs-item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100rem;
}

.jobs-item-top span {
  padding: 4px 8px;
  color: var(--blue-color);
  background: linear-gradient(0deg,
      rgba(255, 255, 255, 0.95),
      rgba(255, 255, 255, 0.95)),
    #021a84;
  border-radius: 8px;
}

/* JOBS ITEM MIDDLE */
.jobs-item-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.jobs-item-rose p,
.jobs-item-bonus p {
  color: var(--blue-color);
  margin-bottom: 8px;
}

.jobs-item-rose h1,
.jobs-item-bonus h1 {
  font-weight: 700;
}

/* JOBS ITEM BOTTOM */
.jobs-item-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jobs-item-desc {
  display: flex;
  align-items: center;
  gap: 16px;
}

.jobs-item-desc span {
  padding: 4px 16px;
  color: var(--darkblue-color);
  /* background: rgba(0, 0, 0, 0.2); */
  background: #f2f2f2;
  border-radius: 8px;
}

.jobs-item-bottom .premium {
  color: var(--white-color);
  padding: 4px 16px;
  text-transform: uppercase;
  background: var(--orange-color);
  border-radius: 8px;
}

/* WHY SECTION */
.why-section {
  margin-bottom: 80px;
}

.why-top {
  margin: 0 auto 40px;
  max-width: 500px;
  text-align: center;
  width: 100%;
}

.why-small-heading,
.why-big-heading {
  color: var(--blue-color);
}

.why-cards-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0 32px;
}

.why-cards-item:first-child {
  background: linear-gradient(0deg,
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)),
    #2ada66;
}

.why-cards-item:nth-child(2) {
  background: linear-gradient(0deg,
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)),
    #021a84;
}

.why-cards-item:last-child {
  background: linear-gradient(0deg,
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)),
    #e5532a;
}

.why-cards-item .card-img {
  width: 54px;
  height: 54px;
  margin-bottom: 16px;
}

.why-cards-item .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.why-cards-item .card-heading {
  text-align: center;
  font-weight: 700;
}

.why-cards-item .card-desc {
  text-align: center;
}

/* BRAND SECTION */
.brand-section {
  margin-bottom: 80px;
}

.brand-heading {
  text-align: center;
  margin-bottom: 48px;
}

.brand-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  /* display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 76px; */
}

.brand-list .owl-stage {
  margin-left: 30px;
}

.brand-item {
  width: 140px;
  height: 140px;
  flex-shrink: 0;
}

.brand-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* CO OP SECTION */
.coop-section {
  margin-bottom: 100px;
}

.coop-top {
  width: 100%;
  max-width: 373px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 88px;
}

.coop-small-heading,
.coop-big-heading {
  color: var(--blue-color);
}

.coop-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  place-items: center;
}

.coop-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.coop-item-img {
  margin-bottom: 16px;
}

.coop-item-title {
  font-weight: 700;
}

.coop-item-desc {
  color: var(--text-color2);
}

/* SEEE MORE SECTION */
.seemore-section {
  margin-bottom: 40px;
}

/* .seemore-section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 534px;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.95),
      rgba(255, 255, 255, 0.95)
    ),
    #021a84;
  z-index: -1;
  transform: translateY(20%);
  bottom: 0;
  right: 0;
  left: 0;
} */
.seemore-container {
  position: relative;
  padding: 27px 40px;
  display: flex;
  background: linear-gradient(220.53deg, #0cc64b 0%, #26ab5b 76.95%);
  border-radius: 20px;
  align-items: center;
  justify-content: space-between;
}

.seemore-left {
  width: 100%;
}

.seemore-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.seemore-content i {
  position: relative;
  font-size: 18px;
  color: var(--orange-color);
  width: 53px;
  height: 53px;
  z-index: 1;
  border-radius: 100rem;
  display: flex;
  background-color: var(--white-color);
  justify-content: center;
  align-items: center;
  box-shadow: 0px 12.3421px 30px rgba(0, 0, 0, 0.08);
}

.seemore-content i::after {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.4);
  width: 70px;
  height: 70px;
  border-radius: 100rem;
  z-index: -1;
}

.seemore-desc {
  color: var(--white-color);
}

.seemore-right::before {
  content: "";
  position: absolute;
  width: 233px;
  height: 120px;
  background: rgba(255, 255, 255, 0.3);
  top: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  right: 0;
  bottom: 0;
}

.seemore-signup {
  padding: 8px 16px;
}

/* CONTACT SECTION */
.contact-section {
  margin-bottom: 40px;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-address {
  display: flex;
  align-items: center;
  gap: 16px;
}

.contact-address #email-address {
  padding: 15px 16px;
  outline: none;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
}

.contact-address .send-btn {
  background: linear-gradient(90deg, #ef463a 0%, #fca939 100%);
  border-radius: 8px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.contact-desc {
  display: flex;
  align-items: center;
  gap: 36px;
}

.contact-desc p {
  color: var(--gray-color);
}

.contact-desc .circle {
  width: 42px;
  height: 42px;
  color: var(--darkblue-color);
  font-weight: 700;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.contact-desc .contact-jobs,
.contact-desc .contact-company {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* FOOTER SECTION */
.footer-section {
  margin-bottom: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.social-media {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  transition: 0.2s linear;
}

.social-media i {
  font-size: 20px;
  color: var(--gray-color);
}

.social-media i:hover {
  color: var(--blue-color);
}

.footer-item {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
}

.footer-item .footer-item-link {
  font-size: 14px;
  font-weight: 400;
  line-height: calc(20 / 14);
  color: var(--gray-color);
}

.footer-item .footer-item-link:hover {
  color: var(--blue-color);
  text-decoration: underline;
}

.footer-title {
  margin-bottom: 10px;
  font-weight: 700;
  color: var(--darkblue-color);
}

.footer-bottom {
  margin-top: 80px;
}

.footer-bottom .copyright {
  text-align: center;
  color: var(--gray-color);
}
